:root {
  --xImGaming: "907028319046885436";
}



/* Chat, Friends List, Mutual Friends List (xImGaming) (Admin)*/
[data-author-id=var(--xImGaming)] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id= var(--xImGaming)] + .header-1dhDWV::before,
[data-user-id=var(--xImGaming)] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id=var(--xImGaming)] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/pink.gif") center/100% no-repeat;
            padding: 0px 7px 0px 7px;
            margin-right: 6px;
}

/* Small user popout (xImGaming) (Admin)*/
[aria-label=var(--xImGaming)].userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .nameTag-H6kSJ0 .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/pink.gif") center/100% no-repeat;
            padding: 1px 8px 0px 8px;
            margin-right: 6px;
}


/* Chat, Friends List, Mutual Friends List (CorruptedVeit) (Friend)*/
[data-author-id='268774893351337986'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="268774893351337986"] + .header-1dhDWV::before,
[data-user-id="268774893351337986"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="268774893351337986"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/lego.gif") center/100% no-repeat;
            padding: 0px 7px 0px 7px;
            margin-right: 6px;
}

/* Small user popout (CorruptedVeit) (Friend)*/
[aria-label="Veit"].userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .nameTag-H6kSJ0 .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/Lego.gif") center/100% no-repeat;
            padding: 1px 8px 0px 8px;
            margin-right: 6px;
}

