/* Founder */
.avatar-2e8lTP[src*="907028319046885436"]+h2 .username-h_Y3Us[style="color: rgb(230, 113, 90);"]::after {
	content: "";
	    position: relative;
	    content: "Founder";
	    background: rgb(230, 113, 90);
	    border-radius: 3px;
	    color: white;
            padding: 1px 5px 1px 5px;
	    margin-left: 8px;
            top: -3px;
	    font-size: .625rem;
	    text-transform: uppercase;
	    line-height: .9375rem;
}

/* STAFF */
.username-h_Y3Us[style="color: rgb(0, 119, 184);"]::after {
	content: "";
	    position: relative;
	    content: "Staff";
	    background: rgb(0, 119, 184);
	    border-radius: 3px;
	    color: white;
            padding: 1px 5px 1px 5px;
	    margin-left: 8px;
            top: -3px;
	    font-size: .625rem;
	    text-transform: uppercase;
	    line-height: .9375rem;
}

/* FRIEND */
.username-h_Y3Us[style="color: rgb(255, 0, 170);"]::after {
	content: "";
	    position: relative;
	    content: "Friend";
	    background: rgb(255, 0, 170);
	    border-radius: 3px;
	    color: white;
            padding: 1px 5px 1px 5px;
	    margin-left: 8px;
            top: -3px;
	    font-size: .625rem;
	    text-transform: uppercase;
	    line-height: .9375rem;
}

/* LUA */
.avatar-2e8lTP[src*="270135723816910851"]+h2.username-h_Y3Us::after {
	content: "";
	    position: relative;
	    content: "Friend";
	    background: rgb(255, 0, 170);
	    border-radius: 3px;
	    color: white;
            padding: 1px 5px 1px 5px;
	    margin-left: 8px;
            top: -3px;
	    font-size: .625rem;
	    text-transform: uppercase;
	    line-height: .9375rem;
}


/* VIP */
.username-h_Y3Us[style="color: rgb(184, 147, 0);"]::after {
	content: "";
	    position: relative;
	    content: "VIP";
	    background: rgb(184, 147, 0);
	    border-radius: 3px;
	    color: white;
            padding: 1px 5px 1px 5px;
	    margin-left: 8px;
            top: -3px;
	    font-size: .625rem;
	    text-transform: uppercase;
	    line-height: .9375rem;
}

