/* Chat, Friends List, Mutual Friends List (xImGaming)*/
[data-author-id='907028319046885436'] .header-2jRmjb .username-h_Y3Us::before,
[data-user-id="907028319046885436"] + .header-1dhDWV::before,
[data-user-id="907028319046885436"] + .text-3j8t_e .username-3JLfHz::before,
[data-user-id="907028319046885436"] + .listName-PwbeHL .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/lego.gif") center/100% no-repeat;
            padding: 0px 7px 0px 7px;
            margin-right: 6px;
}

/* Small user popout (xImGaming)*/
[aria-label="xImGaming"].userPopout-2j1gM4 .headerTop-3GPUSF .headerText-1-WmDq .nameTag-H6kSJ0 .username-3JLfHz::before {
	content: "";
            background: url("https://dl.noverado.de/images/lego.gif") center/100% no-repeat;
            padding: 1px 8px 0px 8px;
            margin-right: 6px;
}